<configuration>

	<connectionStrings>
		<add name="connl" connectionString="asdasdsd" providerName="adv"/>
		<add name="conntest" connectionString="3333" providerName="sqlserver"/>
	</connectionStrings>

	<appSettings>
		<add key="name" value="smd"/>
		<add key="age" value="112"/>
		<add key="proxy.address" value="asdasd"/>
		<add key="proxy:port" value="333"/>
		<add key="proxy:ids:0" value="333"/>
		<add key="proxy:ids:1" value="3213"/>
	</appSettings>
</configuration>