<configuration>

	<connectionStrings>
		<add name="connl" connectionString="asdasdsd" providerName="adv"/>
		<add name="conntest" connectionString="3333" providerName="sqlserver"/>
	</connectionStrings>

	<appSettings>
		<add key="Config:name" value="smd"/>
		<add key="Config:age" value="112"/>
		<add key="Config:Proxy:address" value="1785.55.325"/>
		<add key="Config:Proxy:port" value="333"/>
		<add key="Config:Proxy:ids:0" value="333"/>
		<add key="Config:Proxy:ids:1" value="3213"/>
	</appSettings>
</configuration>